	<!-- Login Page -->
		<div class="container">
			<h1>Login</h1>

			<!-- form -->
				<form>
					<div class="form-group">
						<input type="text" name="username" placeholder="Username" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" name="password" placeholder="Password" class="form-control">
					</div>
					<!-- buttons -->
						<a class="btn btn-primary btn-block" href="profile.html">Login</a>
						<a class="btn btn-success btn-block" href="register.html">Register</a>
					<!-- /buttons -->
				</form>
			<!-- /form -->
		</div>
	<!-- /Login Page -->
