	<!-- Top nav bar -->
		<nav class="navbar navbar-light pg-gray fixed-top">
			<a href="../Page/page-list.html" class="pg-font-black"><i class="fas fa-chevron-left"></i></a>
			<div class="pg-80-width">
				<a class="navbar-brand font-weight-bold float-left" href=""><b class="pg-text-gray pg-underline">Edit Page</b></a>
			</div>
			<a class="pg-font-black" href="Page-List.html"><i class="fas fa-check"></i></a>
		</nav>
	<!-- /Top nav bar -->

	<!-- form -->
		<div class="container-fluid">
			<form>
				<div class="form-group">
					<label for="Name"><strong>Name</strong></label>
					<input type="text" name="name" class="form-control" placeholder="Page Name">
				</div>
				<div class="form-group">
					<label for="text"><strong>Title</strong></label>
					<input type="text" name="text" class="form-control" placeholder="Page Title">
				</div>
				<!-- buttons -->
					<div>
						<a class="btn btn-danger btn-block" href="Page-list.html">Delete</a>
					</div>
				<!-- /buttons -->
			</form>
		</div>
	<!-- /form -->

	<!-- Footer nav bar -->
		<nav class="navbar navbar-dark pg-gray fixed-bottom">
			<div class="pg-width">
				<a class="float-right" href="../User/profile.html"><i class="fas fa-user"></i></a>
			</div>
		</nav>
	<!-- Footer nav bar -->
