	<!-- Top nav bar -->
		<nav class="navbar navbar-light pg-gray fixed-top">
			<a class="pg-font-black" routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-chevron-left"></i></a>
			<div class="pg-80-width">
				<a class="navbar-brand font-weight-bold float-left" routerLink="/#"><b class="pg-text-gray pg-underline">Choose Widget</b></a>
			</div>
		</nav>
	<!-- /Top nav bar -->
	
	<!-- Page list part -->
		<div class="container-fluid">
			<ul class="list-group">
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a href="Widget-heading.html">Header</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/#">Label</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/#">HTML</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/#">Text Input</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/#">Link</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/#">Button</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a href="Widget-Image.html">Image</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a href="Widget-Youtube.html">Youtube</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/#">Data Table</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/#">Repeater</a>
			  </li>
			</ul>
		</div>
	<!-- /Page list part -->

	<!-- Footer nav bar -->
		<nav class="navbar navbar-dark pg-gray fixed-bottom">
			<div class="pg-width">
				<a class="float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
			</div>
		</nav>
	<!-- /Footer nav bar -->
